{   
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "modules": true,
            "jsx": true
        }
    },
    "env": {
        "browser": true
    },
    "plugins": [
        "react",
        "prettier",
        "react-native"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "rules": {
        "react-native/split-platform-components": 2,
        "no-undef": 2,
        "no-undefined": 0,
        "react/jsx-no-undef": 2,
        "semi": 2,
        "comma-spacing": 2,
        "no-duplicate-imports": 2,
        "react/jsx-indent": [2, 2],
        "indent": [2, 2],
        "no-console": 2,
        "object-shorthand": 2,
        "spaced-comment": 2,
        "no-trailing-spaces": 2,
        "quotes": [2, "single"],
        "object-curly-spacing": [2, "always"],
        "no-useless-constructor": 2,
        "no-multi-spaces": 2,
        "no-nested-ternary": 2,
        "prefer-const": 2,
        "react/jsx-tag-spacing": [2, {"beforeSelfClosing": "always"} ], 
        "react/jsx-closing-bracket-location": 2,
        "react/jsx-indent-props": [2, 2],
        "comma-dangle": [2, "always-multiline"],
        "react/no-unused-prop-types": 2,
        "no-const-assign": 2,
        "no-empty": 2,
        "no-extra-bind": 2,
        "react/no-string-refs": 1,
        "react/no-did-mount-set-state": 1,
        "react/no-did-update-set-state": 1
    }
}